@import 'variables';

:export {
    white: $white;
    themeColor: $theme-color;
    themeHover: $theme-hover;
    backgroundGray: $background-gray;
    footerGray: $footer-gray;
    borderGray: $border-gray;
}